In [1]:
import pandas as pd

In [28]:
df = pd.read_csv("user_ansi_department.csv", encoding = "ansi")

In [29]:
df

,id,sex,age,univ,major,grade,entrance_year,hobby,address
0,0,0,26,명지,공업계열,4,2012,0,충남 천안시
1,1,0,26,명지,공업계열,4,2012,0,충남 천안시
2,2,0,25,고려,공업계열,2,2017,0,충남 천안시
3,3,0,26,고려,공업계열,4,2012,0,경기도 안양시 비산동
4,4,0,27,고려,공업계열,4,2011,0,서울시 양천구 신정동
5,5,0,24,고려,공업계열,4,2013,0,서울시 중구 장충동
6,6,0,24,연세,사회과학계열,1,2014,0,서울 성북구 안암동
7,7,1,21,연세,경상계열,2,2017,0,충남 천안시
8,8,0,25,고려,교육계열,3,2013,사진 촬영,성북구 종암동
9,9,1,21,고려,사회과학계열,2,2017,영화감상,서웅시 종로구 숭인동
10,10,1,26,고려,사회과학대학,4,2011,영화,서울시 성북구 종암동
11,11,1,28,고려,어문계열,4,2010,0,서울 성북구 안암동
12,12,1,23,고려,사회과학계열,4,2015,노래,서울시 성북구 안암동
13,13,1,23,고려,사회과학계열,4,2015,"작곡, 음악감상, 독서",서울 종로구 숭인동
14,14,0,27,고려,사회과학계열,4,2012,운동/헬스,서울 성북구 안암동
15,15,1,21,고려,의료계열,2,2017,폰게임. Tv,서울시 동대문구 용두동
16,16,1,22,고려,어문계열,3,2016,0,서울 동대문구 제기동
17,17,0,25,서울과학기술,공업계열,4,2012,"게임, 라이딩, 성제때리기",서울 노원구 공릉동
18,18,1,26,고려,상경계열,4,2013,드라마 보기,서울 성북구 안암동
19,19,1,38,고려,교육계열,3,2017,플루트/발레,서울특별시 성북구 안암동
20,20,0,26,중앙,상경계열,3,2014,독서,서울 동대문구 장안동
21,21,0,26,단국,공업계열,4,2012,0,서울시
22,22,0,24,고려,공업계열,4,2013,독서,경기도 고양시 덕양구 화정동
23,23,0,23,고려,의료계열,2,2015,독서 / 음악감상,서울 동대문구 용두동
24,24,0,26,명지,공업계열,4,2012,축구/조립,의정부시 낙양동
25,25,1,26,단국,상경계열,4,2015,인터넷 쇼핑,충남 천안시 서북구 백석동
26,26,0,25,가천,상경계열,4,2013,영화감상,경기 성남시 분당구 야탑동
27,27,0,24,인하,공업계열,4,2013,농구,겅기도 시흥시 정왕동
28,28,0,26,명지,공업계열,4,2012,성찬이랑 쌔쌔쌔,경기도 용인
29,29,1,24,숙명여자,공업계열,4,2014,0,경기 고양시 탄현동
...,...,...,...,...,...,...,...,...,...
63,63,0,26,인하 공업 전문,공업계열,2,2012,연애,서울 동대문구
64,64,1,22,서울 여자,어문계열,2,2016,0,서울 노원구 중계동
65,65,0,26,건국,디자인계열,4,2012,드럼,서울시 동대문구 전농동
66,66,0,26,한국기술교육,공업계열,4,2012,운동,서울 동대문구 전농동
67,67,0,26,단국,공업계열,4,2012,0,서울 동대문구 용두동
68,68,1,22,삼육,의료계열,3,2016,0,서울시 노원구 중계동
69,69,1,22,서울여자대학교,사회과학계열,3,2016,게임/정보정리,서울 노원구 중계동
70,70,1,23,한양,공업계열,4,2015,음악듣기,관악구 봉천동
71,71,0,23,고려,상경계열,4,2014,"스포츠, 피아노 연주, 기타 연주, 컴퓨터 게임",서울 강동구 명일동
72,72,1,22,서울과학기술,공업계열,3,2016,0,서울시 노원구 공릉동
73,73,1,22,경희,사회복지계열,3,2016,자전거타기 / 도배하기,서울시 노원구 하계2동
74,74,1,23,한국산업기술,상경계열,4,2015,멍때리기/성대모사,경기도 안산시 단원구 고잔2동
75,75,0,24,세종,상경계열,4,2014,축구,서울 광진구 화영동
76,76,1,22,중앙,교육계열,1,2018,책 드라마 영화,서울 노원구 중계동
77,77,1,22,평택,사회과학계열,3,2016,음악 듣기,서울시 노원구 중계동
78,78,1,22,인덕,건축계열,3,2016,운동,서울시 노원구 하계동
79,79,1,21,서울 여자,공업계열,3,2016,컴퓨터,서울시 노원구 하계동
80,80,0,23,세종,상경계열,3,2016,웹서핑,서울시 노원구 중계동
81,81,1,22,한양,사회과학계열,3,2016,없음,서울시 송파구 방이동
82,82,1,22,백석문화,생활과학계열,0,2016,0,천안
83,83,1,24,고려,사회과학계열,4,2014,0,경기도 동두천시 동두천동
84,84,0,20,한양,체육계열,1,2018,축구 야구,서울 성동구 금호동
85,85,1,25,고려,사회과학계열,3,2015,웹서핑,경기도 고양시 중산동
86,86,0,27,한양,공업계열,4,2013,미드보기,서울 중구 약수동
87,87,1,23,한양,건축계열,3,2015,일러스트,경기 의정부시 용현동
88,88,1,24,연세,사회과학계열,4,2015,0,서울 노원구 월계동
89,89,0,23,고려,사회과학계열,2,2015,등산,서울 성북구 돈암동
90,90,0,20,한양,어문계열,1,2018,악기 연주,서울 성동구 사근동
91,91,1,20,한양,의료계열,1,2018,운동,서울특별시 은평로 21길 52
92,92,1,22,세종,상경계열,3,2015,책읽기,서울 노원구 중계동

In [30]:
for i in range(len(df["univ"])):
    df.loc[i,"univ"] = df.loc[i,"univ"]+" 대학교"

In [31]:
df['univ']

0           명지 대학교
1           명지 대학교
2           고려 대학교
3           고려 대학교
4           고려 대학교
5           고려 대학교
6           연세 대학교
7           연세 대학교
8           고려 대학교
9           고려 대학교
10          고려 대학교
11          고려 대학교
12          고려 대학교
13          고려 대학교
14          고려 대학교
15          고려 대학교
16          고려 대학교
17      서울과학기술 대학교
18          고려 대학교
19          고려 대학교
20          중앙 대학교
21          단국 대학교
22          고려 대학교
23          고려 대학교
24          명지 대학교
25          단국 대학교
26          가천 대학교
27          인하 대학교
28          명지 대학교
29        숙명여자 대학교
          ...
63    인하 공업 전문 대학교
64       서울 여자 대학교
65          건국 대학교
66      한국기술교육 대학교
67          단국 대학교
68          삼육 대학교
69     서울여자대학교 대학교
70          한양 대학교
71          고려 대학교
72      서울과학기술 대학교
73          경희 대학교
74      한국산업기술 대학교
75          세종 대학교
76          중앙 대학교
77          평택 대학교
78          인덕 대학교
79       서울 여자 대학교
80          세종 대학교
81          한양 대학교
82        백석문화 대학교
83          고려 대학교
84          한양 대학교
85          고려 대학교
86          한양 대학교
87          한양 대학교
88          연세 대학교
89          고려 대학교
90          한양 대학교
91          한양 대학교
92          세종 대학교
Name: univ, Length: 93, dtype: object

In [32]:
df.columns

Index(['id', 'sex', 'age', 'univ', 'major', 'grade', 'entrance_year', 'hobby',
       'address'],
      dtype='object')

In [49]:
dummy = pd.DataFrame(columns=['sex', 'age', 'univ', 'major', 'grade', 'entrance_year', 'city1','city2'])

In [50]:
dummy

Empty DataFrame
Columns: [sex, age, univ, major, grade, entrance_year, city1, city2]
Index: []

In [51]:
import random

In [46]:
univ = ["가야 대학교","경희 대학교", "숭실 대학교", "단국 대학교", "건국 대학교", "상명 대학교", "한남 대학교", " 전남 대학교", "부산 대학교",
        "울산 대학교", "부산 대학교", "부경 대학교", "서울 대학교", "연세 대학교", "국민 대학교", "경북 대학교", "전북 대학교","충북 대학교",
       "고구려 대학교","고려 대학교", "동국 대학교", "성신 여자 대학교", "숙명 여자 대학교", "이화 여자 대학교", "서강 대학교", "성균관 대학교",
        "덕성 여자 대학교"]
department = ["상경계열", "공업계열", "사회과학계열","디자인계열", "음악계열","미술계열","건축계열","체육계열" ,"생활과학계열","교육계열",
             "어문계열","의료계열","자연과학계열","사회복지계열", "법학계열","기타","상경계열", "공업계열", "사회과학계열","교육계열",
              "어문계열","의료계열","자연과학계열"]

In [61]:
city={"서울특별시" : ["서울특별시","강남구","강동구","강북구","강서구","관악구","광진구","구로구",
              "금천구","노원구","도봉구","동대문구","동작구","마포구","서대문구","서초구",
              "성동구","성북구","송파구","양천구","영등포구","용산구","은평구","종로구","중구",
              "중랑구"],
    "경기도":["가평군","고양시","과천시","광명시","광주시","구리시",
              "군포시","김포시","남양주시","동두천시","부천시","성남시","수원시","시흥시",
              "안산시","용인시","의왕시","의정부시","파주시","평택시","화성시"], 
   "충청북도" :["진천시","청추지"],
  "대구광역시":["대구광역시","남구","달서구","달성군","동구","북구","서구","수성구","중구"],
   "경상남도" :["경상남도","거제시","거창군","고성군","김해시","남해군","밀양시"],
   "광주광역시":["광주광역시","광산구","남구","동구","북구","서구"],
   "전라남도":["전라남도","강진군","고흥군","곡성군","광양시","구례군","나주시","담양군",
              "목포시","무안군","보성군","순천시","신안군","여수시","영광군","영암군","완도군",
              "장성군","장흥군","진도군","함평군","해남군"],
   "부산광역시":["부산광역시","강서구","금정구","기장군","남구","동구","동래구","부산진구",
              "북구","사상구","사하구","영도구","중구","해운대구"],
   "대전광역시":["대전광역시","대덕구","동구","서구","유성구","중구"],
   "제주특별자치도":["제주특별자치도","서귀포시","제주시"]
   
  }

In [62]:
a["서울특별시"]

TypeError: 'float' object is not subscriptable

In [68]:
for i in range(0, 500) :
        a= random.random()
        if a < 0.5: #성별
            dummy.loc[i,"sex"] = int(1)
        else :
            dummy.loc[i,"sex"] = int(0)
        dummy.loc[i,"age"] = random.randrange(19,30)
        dummy.loc[i,"univ"] = random.choice(univ)
        dummy.loc[i,"major"] = random.choice(department)
        dummy.loc[i,"grade"] = random.randrange(1,5)
        dummy.loc[i,"entrance_year"] = random.randrange(2008, 2019)
        city1 = random.choice(list(city.keys()))
        dummy.loc[i,"city1"] = city1
        dummy.loc[i,"city2"] = random.choice(city[city1])

In [69]:
dummy

    sex age       univ   major grade entrance_year    city1    city2
0     0  24     경희 대학교    건축계열     4          2018      경기도      고양시
1     1  23     전북 대학교    교육계열     1          2012    광주광역시       남구
2     0  29    고구려 대학교  생활과학계열     4          2009    서울특별시      관악구
3     0  23     숭실 대학교  사회복지계열     1          2013    대구광역시    대구광역시
4     1  26  숙명 여자 대학교    공업계열     3          2013    부산광역시     부산진구
5     1  28    성균관 대학교    미술계열     4          2008    대전광역시    대전광역시
6     0  22     전북 대학교  사회복지계열     3          2011    대구광역시       동구
7     0  22     한남 대학교    음악계열     4          2016  제주특별자치도      제주시
8     0  27     서울 대학교    미술계열     4          2017    서울특별시     동대문구
9     1  20     서울 대학교    교육계열     4          2016     전라남도      순천시
10    0  28     충북 대학교  사회복지계열     4          2017    부산광역시       중구
11    0  24     부경 대학교    법학계열     3          2009     전라남도      목포시
12    0  28     연세 대학교  사회과학계열     2          2018      경기도     남양주시
13    1  21  덕성 여자 대학교    음악계열     3          2010    부산광역시      영도구
14    1  20     상명 대학교  자연과학계열     1          2015     전라남도      진도군
15    0  20     울산 대학교   디자인계열     1          2010  제주특별자치도      제주시
16    0  29     동국 대학교    음악계열     3          2014     경상남도      거창군
17    0  20     동국 대학교    음악계열     4          2014    광주광역시       남구
18    0  19     국민 대학교    법학계열     1          2012     전라남도     전라남도
19    0  23    고구려 대학교    상경계열     3          2008    대구광역시      수성구
20    1  21     충북 대학교  사회복지계열     1          2018     경상남도      거제시
21    1  29     연세 대학교    음악계열     2          2008    부산광역시       북구
22    0  26  덕성 여자 대학교    미술계열     3          2015    대구광역시       동구
23    1  26     울산 대학교    미술계열     2          2014     충청북도      진천시
24    1  27     연세 대학교  자연과학계열     3          2012    대구광역시      달서구
25    0  19  덕성 여자 대학교  사회복지계열     3          2011    대전광역시      유성구
26    1  20  성신 여자 대학교   디자인계열     3          2018     충청북도      진천시
27    0  21     경북 대학교    공업계열     3          2015      경기도     남양주시
28    1  23     연세 대학교    어문계열     4          2017      경기도      가평군
29    0  19     한남 대학교    미술계열     2          2009    서울특별시     서대문구
..   ..  ..        ...     ...   ...           ...      ...      ...
470   0  29  숙명 여자 대학교    의료계열     3          2015      경기도     동두천시
471   1  25     부경 대학교    의료계열     4          2011    부산광역시     해운대구
472   0  25     전남 대학교   디자인계열     4          2012    서울특별시     서대문구
473   1  24     한남 대학교    체육계열     1          2011    대구광역시      달서구
474   0  29     충북 대학교    의료계열     4          2014  제주특별자치도      제주시
475   1  28     가야 대학교  자연과학계열     1          2017  제주특별자치도  제주특별자치도
476   1  24     건국 대학교  사회과학계열     3          2012  제주특별자치도     서귀포시
477   0  19     한남 대학교    미술계열     1          2008    대전광역시       동구
478   1  26     한남 대학교    체육계열     4          2015  제주특별자치도  제주특별자치도
479   0  24     경희 대학교    상경계열     4          2008    광주광역시    광주광역시
480   1  28  이화 여자 대학교    상경계열     2          2013  제주특별자치도     서귀포시
481   0  23     고려 대학교    공업계열     1          2010    광주광역시    광주광역시
482   0  26     부산 대학교    법학계열     3          2010     경상남도      김해시
483   1  24  성신 여자 대학교    건축계열     3          2011      경기도     남양주시
484   1  25    고구려 대학교  사회과학계열     3          2018      경기도     동두천시
485   0  24     경북 대학교    건축계열     1          2015    서울특별시      동작구
486   0  23     전남 대학교  생활과학계열     3          2010    광주광역시      광산구
487   0  22     전북 대학교  생활과학계열     2          2016    대구광역시       중구
488   1  24     경희 대학교    건축계열     3          2011      경기도      과천시
489   0  25     건국 대학교    교육계열     2          2018  제주특별자치도      제주시
490   1  22     단국 대학교    체육계열     2          2009    대전광역시       동구
491   1  26     단국 대학교  사회과학계열     1          2013    광주광역시      광산구
492   1  19     울산 대학교  생활과학계열     4          2015    광주광역시    광주광역시
493   1  23     건국 대학교    상경계열     1          2016    부산광역시       중구
494   1  21     부경 대학교    체육계열     2          2012    광주광역시       북구
495   0  22     단국 대학교    의료계열     1          2008      경기도      수원시
496   0  19     상명 대학교  자연과학계열     4          2012     전라남도      곡성군
497   1  19    성균관 대학교    체육계열     1          2014    서울특별시      성동구
498   0  21  숙명 여자 대학교   디자인계열     1          2010     전라남도      목포시
499   0  27     고려 대학교  사회과학계열     2          2015    대구광역시       중구

[500 rows x 8 columns]

In [71]:
dummy.to_csv("dymmy_user.csv")